.container {
	padding: 1cm 4cm;
	/* border: 2px solid black; */
}
.card {
	margin-bottom: 1cm;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px #eaeaea;
}
.card .card-title {
	padding: 0.5cm 0;
	font-weight: 300;
	font-size: 50px;
	text-align: center;
	color: teal;
}
#input {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-control {
	border-color: teal;
	width: 50%;
	border-radius: 5px;
}
.form-control:focus {
	border: 2px solid teal;
	outline: none;
	box-shadow: none;
}
a#addBtn {
	color: white;
}
.btn-success:focus {
	box-shadow: none;
}
.btn:focus {
	box-shadow: none;
	outline: none;
}
li {
	margin-bottom: 8px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 400;
	list-style: none;
	border-radius: 3px;
	cursor: pointer;
	word-wrap: unset;
	word-break: break-all;
	overflow-wrap: anywhere;
	overflow: hidden;
}
li:hover {
	background-color: rgb(241, 239, 239);
}

/* input[type="checkbox"] + lable {
	border: 2px solid red;
} */

.timeSpan {
	float: right;
	margin-right: 10px;
	color: slategrey;
	font-size: 20px;
	margin-top: 2px;
}
button {
	background-color: transparent;
	border: none;
	float: right;
}
button:focus {
	background-color: transparent;
	border: none;
	outline: none;
}
.fa-trash:hover {
	color: red;
}
p,
button {
	display: inline;
}

@media (min-width: 300px) {
	.container {
		padding: 10px;
	}
	.form-control {
		width: 100%;
	}
}

@media (min-width: 500px) {
	.container {
		padding: 1cm;
	}
	.form-control {
		width: 80%;
	}
}
@media (min-width: 900px) {
	.container {
		padding: 1cm 4cm;
	}
	.form-control {
		width: 50%;
	}
}
