@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

body {
	font-family: "Roboto slab", serif;
}

#upperBox {
	/* background-color: #5f5f6d; */
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(147, 230, 241, 1) 0%,
		rgba(145, 192, 241, 1) 45.5%
	);
}
.container {
	padding: 1cm 4cm;
}
.card {
	border-radius: 0px;
	margin-bottom: 1cm;
	/* box-shadow: 0 0 5px 1px #eaeaea; */
}
.card .card-title {
	padding: 0.5cm 0;
	font-weight: 700;
	font-size: 50px;
	text-align: center;
}
#input {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input.form-control {
	border-color: #378eeb;
	width: 70%;
	border-radius: 0;
}
input.form-control:focus {
	color: black;
	border: 2px solid #0978ee;
	outline: none;
	box-shadow: none;
}
.form-control::placeholder {
	opacity: 0.3;
}
a#addBtn {
	color: white;
	background-color: rgba(92, 123, 237, 1);
}
a#addBtn:hover {
	box-shadow: none;
	outline: none;
	background-color: rgba(147, 186, 252);
}
li {
	border: 1px solid rgba(92, 123, 237, 1);
	border-left: 10px solid rgba(92, 123, 237, 1);
	margin-bottom: 8px;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 400;
	list-style: none;
	cursor: pointer;
	word-wrap: unset;
	word-break: break-all;
	overflow-wrap: anywhere;
	overflow: hidden;
}
li:hover {
	background-color: rgb(241, 239, 239);
}
.timeSpan {
	float: right;
	margin-right: 10px;
	color: #708090;
	font-size: 20px;
	margin-top: 2px;
}
button {
	background-color: transparent;
	border: none;
	float: right;
}
button:focus {
	background-color: transparent;
	border: none;
	outline: none;
}
.fa-trash:hover {
	color: red;
}
button {
	display: inline;
}

@media (min-width: 300px) {
	.container {
		padding: 10px;
	}
	.form-control {
		width: 100%;
	}
}

@media (min-width: 500px) {
	.container {
		padding: 1cm;
	}
	.form-control {
		width: 80%;
	}
}
@media (min-width: 900px) {
	.container {
		padding: 1cm 4cm;
	}
	.form-control {
		width: 50%;
	}
}
